<div class="container-fluid">
  <div class="d-flex justify-content-around">
    <div class="ml-5 mt-5 item-card d-flex flex-column">
      <mat-form-field appearance="fill">
        <mat-label>Your product</mat-label>
        <mat-select (selectionChange)="selectItem($event.value)" [(value)]="selectedItem">
          <mat-option *ngFor="let item of myItems" [value]="item">
            {{item.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="ratings">
        <app-item #myItem [item]="selectedItem"
                  [ratings]="filterRatingsByOwner(selectedItem.ownerId, ratings)"></app-item>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <div>
        <button mdbBtn block="true" class="my-4 offer-deal-button text-white"
                [disabled]="isButtonDisabled" (click)="offerDeal()">Offer Deal</button>
      </div>
      <div *ngIf="isButtonDisabled" class="spinner-border text-dark ml-3" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div class="mr-5 item-card" style="margin-top: 7.5rem">
      <div *ngIf="ratings">
        <app-item [item]="offerItem" [ratings]="filterRatingsByOwner(offerItem.ownerId, ratings)"></app-item>
      </div>
      <div class="text-center mt-4" style="border: 5px solid var(--main-theme-color);">
        <div>
          <h2>contact details</h2>
        </div>
        <div>
          {{user.firstName.concat(' ', user.lastName)}}
        </div>
        <div class="mt-2">
          {{user.phoneNumber}}
        </div>
        <div class="mt-2">
          {{user.email}}
        </div>
      </div>
    </div>
  </div>
</div>


