<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark special-color fixed-top" [containerInside]="false"
            style="direction: ltr">
  <mdb-navbar-brand><a class="navbar-brand text-white" routerLink="/">BarterIL</a></mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" dropdown *ngIf="(signInUser$|async).isAdmin">
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Management<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/users-management">Users management</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/items-management">Items management</a>
        </div>
      </li>
    </ul>
  </links>
  <links>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link">
          <div class="btn-group" mdbDropdown>
            <div>
              <mdb-icon fas icon="bell" size="lg" mdbDropdownToggle></mdb-icon>
            </div>
            <div class="notification" *ngIf="false">
              <!--              TODO: after message service is created-->
              <!--              <mdb-badge pill="true" color="red">-->
              <!--                1-->
              <!--              </mdb-badge>-->
            </div>
            <div class="dropdown-menu dropdown-menu-right dropdown-primary mt-2">
              <a class="dropdown-item" style="text-align: right"> no messages </a>
            </div>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <div mdbDropdown>
            <div class="font-weight-bold" mdbDropdownToggle>
              {{ userFullName$ | async }}
            </div>
            <div class="dropdown-menu dropdown-menu-right dropdown-primary mt-2 text-center">
              <a class="dropdown-item" routerLink="user-info">Info</a>
              <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>
