<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark special-color fixed-top" [containerInside]="false"
            style="direction: ltr">
  <mdb-navbar-brand><a class="navbar-brand text-white" routerLink="/">BarterIL</a></mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" dropdown *ngIf="(signInUser$|async).isAdmin">
        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Management<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/users-management">Users management</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/transactions-management">Transactions management</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/items-management">Items management</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="user-transactions">My Transactions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="user-items">My Items</a>
      </li>
    </ul>
  </links>
  <links>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link">
          <div class="btn-group" mdbDropdown>
            <div>
              <mdb-icon fas icon="bell" size="lg" (click)="hideAlerts()" mdbDropdownToggle></mdb-icon>
            </div>
            <div class="notification" *ngIf="displayNotification">
              <mdb-badge pill="true" color="red">
                {{(transactions$| async).length}}
              </mdb-badge>
            </div>
            <div class="dropdown-menu dropdown-menu-right dropdown-primary mt-2">
              <a *ngIf="!alerts.length" class="dropdown-item">
                <span>No messages</span>
              </a>
              <div *ngFor="let alert of alerts">
                <a class="dropdown-item">
                  <span class="font-weight-bold">{{alert.date | date: 'HH:mm'}}</span>
                  <span>{{alert.description + alert.trader.firstName.concat(' ', alert.trader.lastName)}}</span>
                </a>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <div mdbDropdown>
            <div class="font-weight-bold" mdbDropdownToggle>
              {{ userFullName$ | async }}
            </div>
            <div class="dropdown-menu dropdown-menu-right dropdown-primary mt-2 text-center">
              <a class="dropdown-item" routerLink="user-info">Info</a>
              <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>
