<mdb-card class="d-flex flex-column justify-content-between">
    <div class="view overlay waves-light item-image" mdbWavesEffect>
        <mdb-card-img [src]=item.pictureUrls[0]></mdb-card-img>
    </div>
    <div style="padding: 10px">
        <mdb-card-body>
            <mdb-card-title>
                <h3>{{item.name}}</h3>
            </mdb-card-title>
            <hr>
            <mdb-card-text>
                {{item.description}}
            </mdb-card-text>
            <div class="d-flex justify-content-between">
                <button (click)="editItem()" type="button" class="btn btn-primary">Edit</button>
                <button (click)="viewItem()" type="button" class="btn btn-info">View</button>
                <button (click)="deleteItem()" type="button" class="btn btn-danger">Delete</button>
            </div>
        </mdb-card-body>
    </div>
</mdb-card>