<div class="container-fluid" *ngIf="elements$ | async as elements">
  <div class="d-flex justify-content-start">
    <div>
      <mdb-checkbox (change)="myOffersFilter()" [checked]="myOffersCheck">My Offers
      </mdb-checkbox>
    </div>
    <div class="ml-5">
      <mdb-checkbox (change)="offeredToMeFilter()" [checked]="offeredToMeCheck">Offered To Me
      </mdb-checkbox>
    </div>
    <div class="ml-5">
      <mdb-checkbox (change)="completedTransactionsFilter()" [checked]="completedTransactionsCheck">Completed
        Transactions
      </mdb-checkbox>
    </div>
  </div>

  <app-transactions-table [elements]="elements" [headElements]="headElements" [currentUser]="currentUser"
                          (itemClickEmitter)="showItemDetails($event)" (acceptOfferEmitter)="acceptOffer($event)"
                          (declineOfferEmitter)="declineOffer($event)"></app-transactions-table>
</div>
