.card-deck {
  list-style: none;
  flex: 0 0 33.333333%;
}

:host ::ng-deep .mat-form-field-flex {
  background-color: white;
}

.modal-lg {
  max-width: 70%;
}

.item-list-container {
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
