<div class="container-fluid">
  <div class="d-flex" *ngIf="{itemsAndCategories: itemsAndCategories$ | async, user: currentUser$ | async } as data">
    <div class="jumbotron w-100 pt-0 recommended-items mt-2">
      <h2 class="h2 mt-3">Recommended</h2>
      <div class="d-flex flex-column">
        <app-item class="card-deck mt-4" *ngFor="let item of data.itemsAndCategories" [item]="item"
          [currentUser]="data.user" (onDeleteItem)="deleteItem($event)" (onEditItem)="editItem($event)"
          (onViewItem)="viewItem($event)">
        </app-item>
      </div>
    </div>
    <div class="flex-grow-1 d-flex flex-wrap h-50 ml-5 mb-4">
      <app-item class="card-deck ml-2 mt-4" *ngFor="let item of data.itemsAndCategories" [item]="item"
        [currentUser]="data.user" (onDeleteItem)="deleteItem($event)" (onEditItem)="editItem($event)"
        (onViewItem)="viewItem($event)">
      </app-item>
    </div>
  </div>
</div>