.card-deck {
  list-style: none;
  flex: 0 0 33.333333%;
}

:host ::ng-deep .mat-form-field-flex {
  background-color: white;
}

.modal-lg {
  max-width: 70%;
}

.recommended-items {
  max-height: 75vh !important;
  width: 175vw!important;
  overflow: auto !important;
}

.all-items {
  max-height: 75vh !important;
  width: 175vw!important;
  overflow: auto !important;
}
